/*Globales*/
:root{
    --fuertePrincipal: 'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --primario: #f1a94e;
    --secundario: #44b3c2;
    --terciario: #2b2b2b;
    --claro: white;
}
html{
    box-sizing: border-box;
}
*,
*:after,
*:before{
    box-sizing: inherit;
}
body{
    font-family: var(--fuertePrincipal);
}
.contenedor{
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2.2rem;
}
p{
    font-family: var(--fuertePrincipal);
    font-size: 1.2rem;
}
/*.globales*/

/*Hero*/
.hero{
    background-image: url(../img/fondo.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}
.hero .contenedor{
    align-self: center;
}
.hero .contenido{
    text-align: center;
    color: white;
}
.titulo {
    margin: 0;
}
.subtitulo{
    font-size: 1.6rem;
}
/*.hero*/

/*Servicios*/
.servicios{
    text-align: center;
    margin-top: 3rem;
}
.servicios h2{
    padding-bottom: .5rem;
}
.servicios h2::after{
    height: .2rem;
    width: 50%;
    background-color: var(--terciario);
    content: '';
    display: block;
    margin: .5rem auto 0 auto;
}
.servicios i{
    font-size: 3rem;
    color: var(--terciario);
}
/*.servicios*/
/**/

/*Portafolio*/
.elemento{
    border-bottom: 1px solid #5b5b5b;
    margin-bottom: 3rem;
}
.elemento:last-of-type{
    border: none;
}
/*.portafolio*/

/*Footer*/
.footer{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--claro);
    padding: 2rem 0;
    margin-top: 2rem;
}
.copy{
    text-align: center;
    margin-top: 4rem;
}
/*.footer*/
@media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 2rem;
    }
    /*Portafolio*/
    .listado{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 2rem;
        grid-auto-rows: max-content;
    }
    .elemento {
        border: none;
    }
    .elemento:nth-child(3){
        grid-row-end: span 2;
    }
    /*.portafolio*/

    /*Footer*/
    .footer .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;
    }
    /*.footer*/
}